H3 {
    color:#f2f2f2;
    font-family: termina, sans-serif;
    font-weight: 800;
}

h4 {
    font-family: termina, sans-serif;
    font-weight: 600;

}

.brown {
    background-color: #95847c;
}

.white {
    background-color: #ffffff;
}

.dark {
    background-color: #292929;
}

.yellow {
    color: #ffb708;
    background-color: none;
}

.container-fluid {
    background-color: #292929;
    max-width: 1920px;
}

.bg-dark {
    background-color: #292929 !important;
}

.navbar-text {
    font-family: termina;
    font-weight: 800;
    color: white !important;
    font-size: 1.2rem;
}

.nav-link {
    color: #f2f2f2 !important;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    color: white !important;
}

.section1 {
background-color: #95847c;
margin: 0 auto;
height: 45vh;
padding-left: 0px;
padding-right: 0px;
margin-top: 20px;
}

.section11 {
    margin: 0 auto;
    height: 45vh;
}

.background_header {
    display: none;
}

.section11 img {
    bottom: -12px;
    width: 98%;
}

.section2 {
    padding-top: 10px;
    height: auto;
}

.titulo {
    color:#d5d5d5;
    font-family: termina, sans-serif;
    font-weight: 800;
    font-size: 1.7em;
    padding-top: 1em;
    line-height: 130%;
}

.data {
    color:#d5d5d5;
    font-family: termina, sans-serif;
    font-weight: 600;
    font-size: 1.1em;
    padding-top: 0.2em;
}

.button1 {
    margin-top: 10px;
    border-radius: 0;
    border: none;
    color: #f2f2f2;
    border: solid 1px #f2f2f2;
}

video {
    margin:10px auto;
}

h6 {
    margin-top: 10px;
    color: #d5d5d5;
    width: 90%;   
}

 .text-uppercase {
    font-family: basic-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 120%;
}

.row3 {
    margin-top: 28px;
}

.card {
    margin: 20px 0;   
}

.list-header {
    background-color: #f2f2f2;
}

.accordion>.card:not(:last-of-type) {
border-bottom: 2px solid #95847c;
}

.col-button {
    padding-bottom: 2.3em;
}

.button2 {
    
    border-radius: 0;
    border: none;
    color: #f2f2f2;
    border: solid 1px #f2f2f2;
}

.news-title {
    color: #292929;
    margin-top: 20px;
}

.btn-info {
    background-color: #ffb708 !important;
    border: none !important;
}

.programação-title {
    color: #292929;
    margin-top: 30px;
}

.noticias-title {
    color: #f2f2f2;
    margin-top: 30px;
}

.card-title{
    color: #292929;
}

.list-group {
    border-radius: 0 !important;
    max-height: 100px;
    overflow-y: auto;
    grid-area: list;
    padding: 0;
    max-height: 600px;
}

.container-grid {
    max-width: 80vw;
}

.content-grid {
    justify-content: center;
    max-width: 80vw;
}

.inside {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}

.card-header {
background-color: white;
}

.card-header h5, .card-header {
    color: #95847c;
    font-family: termina, sans-serif;
    font-weight: 600;
}

.btn-yellow {
    background-color: #ffb708;
}

 /*.festival {
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: center;
} */

.embed-responsive-item {
    max-width: 500px;
}


.over {
    min-height: 101%;
}
.scroll {   
    height: 40vh;
     overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.page-footer p, .page-footer a, .page-footer h6, .page-footer i, .footer-copyright {
    color: #292929;
}

@media (min-width: 330px) {
    .fullcard {
        display: none;
    }
}


@media (min-width: 768px) {

    .fullcard {
        display: flex;
        
    }
    
    
    
    .flex-column {
        background-color: #95847c;
    }

.section11 img {
    bottom: 0px;
    width: 100%;
}

.embed-responsive-16by9::before {
    padding-top: 0;
}

.embed-responsive {
position: relative;    
}

.embed-responsive-item {
    height: 100%;
    position: relative !important;
}

.card-header-ipad {
    background-color: #95847c;
}

.card-left, .card-right  {
    background-color: #f5f5f5;
}


.info_swap {
margin-bottom: 8px !important;

}
#text_swap {
    line-height: 120%;
}

#title_swap {
    margin-bottom: 8px;
    font-family: termina, sans-serif;
    font-weight: 800;
}

.list-bg {
    background-color: #f2f2f2;
}

h5 {
    font-family: termina, sans-serif;
    font-weight: 600;
    color: #95847c;
}


}

  @media (min-width: 768px) {
    .text-uppercase {
        font-size: 18px;
    }
   
    #sobre {
        font-size: 32px;
    }

}

@media (min-width: 1024px) {

.section1 {
    height: calc(100vh - 61px);
}

.section11 {
    height: calc(100vh - 61px);
} 

.section11 img {
    bottom: 0px;
    width: 85%;
}

.titulo {
    font-size: 45px;
    color: #f2f2f2;
    padding-top: 15px;
}

.list-group-item.active {
    background-color: #ffb708;
    border-color: #E0A100;
}

.data {
    font-size: 28px;
    color: #f2f2f2;
}

.button1 {
    display: none;
}

.description {
    font-size: 24px;
    font-weight: 600;
}

#sobre {
    font-size: 45px;
}

.programação-title, .noticias-title {
    font-size: 45px;
}

#title_swap {
    font-size: 20px;
}

.col-button {
    padding-bottom: 90px;
}

.col-sobre {
    margin-bottom: 90px;
}

}
