

@media (min-width: 768px) {
.flex-column {
    background-color: #95847c;
}

.section11 img {
    bottom: 0px;
    width: 100%;
}

.embed-responsive-16by9::before {
    padding-top: 0;
}

.embed-responsive {
position: relative;    
}

#myDIV {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.embed-responsive-item {
    height: 100%;
    position: relative !important;
}

.card-header-ipad {
    background-color: #95847c;
}

.card-left, .card-right  {
    background-color: #f5f5f5;
}


.info_swap {
margin-bottom: 8px !important;

}
#text_swap {
    line-height: 120%;
}

#title_swap {
    margin-bottom: 8px;
    font-family: termina, sans-serif;
    font-weight: 800;
}

.list-bg {
    background-color: #f2f2f2;
}

h5 {
    font-family: termina, sans-serif;
    font-weight: 600;
    color: #95847c;
}

.content-grid {
        display: grid;
        max-width: 80vw;
        justify-self: center;
        grid-template-columns: 1.4fr 1fr;
        grid-template-rows:  200px 250px;
        grid-template-areas: 
          "photo list"
          "descr list"
      }

}

 
